
@media screen and (max-width:640px){
}
html,body{
    margin:0;
    padding: 0;
    background-color: #64615f;
    
}

@media screen and (min-width:640px){
}
#header{
    margin:0;
    padding: 0;
    background-color: #64615f;
    opacity: 0,95;
    background-image: url("../img/mus%C3%A9e%20du%20Vatican.jpg");
    width: 1500px;
    height: 800px;
}


.end{
    font-weight: bold;
    
}
.theend{  
    margin-left:-500px;
    margin-top: 200px;    
    
}

.special{
    margin-left:510px;
    margin-top: 420px;   
}
