* {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

.icone-menu, .icone-fermer {
  cursor: pointer;
  width: 30px;
  /* on position l'icone en haut à gauche */
  left: 30px;
  position: absolute;
  top: 30px;
}

.menu {
  background-image:url("../img/Chapelle-Sixtine-Plafond.jpg");
  color: white;
  margin: 0;
  padding-top: 80px;
  /* on positionne le menu à gauche sur toute la hauteur */
  bottom: 0;
  position: absolute;
  top: 0;
  /* on cache le menu */
  opacity: 0;
  transform: translateX(-100%);
  /* transition */
  transition: all .8s;
}

.visible {
  /* on affiche le menu */
  opacity: 1;
  transform: translateX(0%);
}
















.nav{
    margin-left: 36%;  
}

.nav_li{
    display: inline-block;
    margin-top: 30px;
    margin-left: 8px;
    padding-left: 30.7px;
    text-transform: uppercase;
    font-weight: bold;
}




a{
    text-decoration: none;
    color:black;
}

a:hover, a:active{
    color: white;
}

